src/main/mule/airindiaflightsbyuriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="airIndiaflightsbyuriParamsFlow" doc:id="bf32ddcf-cdfa-4b18-af76-610fcce98f4c" >
		<logger level="INFO" doc:name="Logger" doc:id="1cfec9d5-e845-45c9-85d1-9c69ed9b89fd" message="airIndiaflights starts" />
		<ee:transform doc:name="Transform Message" doc:id="395bfc9f-1ee8-4082-95fa-0917e558057f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#getFlights: {
		from: attributes.uriParams.source as String,
		to: attributes.uriParams.destination as String,
		depatureDate: attributes.uriParams.doj as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7d931d2c-89a0-40be-9a22-f87be4cee9e9" />
		<wsc:consume doc:name="Consume" doc:id="4ce4def5-77b7-44d5-b03c-1622c959be2a" operation="listAllFlights" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="5868b616-bba6-441b-9014-1f2a135b51d9" />
		<ee:transform doc:name="Transform Message" doc:id="747173f4-9008-46da-a2a7-a756dd345288" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#getFlightsResponse.*return map ( return , indexOfReturn ) -> {
	Id: return.ID default 0,
	airlineName: return.airline default "",
	fCode: return.flightCode default "",
	fromAirportCode: return.fromAirportCode default "",
	toAirportCode: return.toAirportCode default "",
	departureDate: return.departureDate default "",
	emptySeats: return.emptySeats default 0,
	totalSeats: return.totalSeats as Number default 0,
	price: return.price default 0,
	planeType: return.planeType default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="10b33416-5089-4a03-9561-78bb3856b11b" message="Response from airIndiaflights...............................#[payload]" />
	</flow>
</mule>
